.Header {
  display: block;
  overflow: hidden;
  background-color: #F7418F;
  height: 5em;
  width: 100vw;
  position: sticky;
  top: 0;
}

.HeaderItem {
  display: inline-block;
  background-color: #F7418F;
  height: 100%;
  margin: 0%;
  border-width: 0;
  vertical-align: top;
  padding: 0%;
}

.HeaderItem :hover {
  background-color: #FFF3C7;
  height: 100%;
  color: #F7418F;
}

.HeaderLink {
  /* display: block; */
  height: 100%;
  color: #FEC7B4;
  text-decoration: none;
  font-size: 1.7em;
  font-family: "CreatoDisplay-Regular";
  padding: 100% 1em;
  text-align: center;
}

.HeaderLogo {
  height: 100%;
  display: inline-block;
  margin-inline: 1em;
}

@font-face {
  font-family: "Rosehot";
  src: local("Rosehot"), url(./fonts/Rosehot.ttf), format(".ttf");
}

@font-face {
  font-family: "CreatoDisplay-Regular";
  src: url(./fonts/CreatoDisplay-Regular.otf), format('.otf'), local("CreatoDisplay-Regular");
}

h1 {
  font-family: "Rosehot";
  color: #F7418F;
}

p {
  font-family: "CreatoDisplay-Regular";
  color: #400820;
}

.SiteBody {
  margin-inline: 20%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.searchBar {
  width: 100%;
  align-self: center;
  margin: 1em auto;
  display: block;
  font-family: "CreatoDisplay-Regular";
  font-size: larger;
  border-color: #FC819E;
  border-style: solid;
  color: #F7418F;
  /* box-shadow: 0px 0px 15px -7px #000000; */
}

.searchEntry {
  margin: 1em auto;
  padding: 1em 2em;
  border-width: 0;
  box-shadow: 0px 0px 15px -7px black;
  display: block;
}

h2 {
  font-family: "CreatoDisplay-Regular";
  color: #400820;
}

.popup-content {
  justify-content: center;
  background-color: #FEC7B4;
  padding: 2em;
  margin: auto;
  width: 50%;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);;
}

.popup-button {
  font-size: medium;
  font-family: "CreatoDisplay-Regular";
  background-color: #FC819E;
  color: #FFF3C7;
  border-width: 0;
  padding-inline: 1em;
}

.popup-button :hover {
  background-color: #F7418F;
}

label {
  font-family: "CreatoDisplay-Regular";
  color: #400820;
}

footer {
  margin-inline: 0;
  color: #FFF3C7;
  padding-inline: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}